<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    </head>
    <body>
        <h1>
            S3 이미지 업로더
        </h1>
        <div class="col-md-12">
            <div class="col-md-2">
                <form>
                    <div class="form-group">
                        <label for="img">파일 업로드</label>
                        <input type="file" id="img">
                    </div>
                    <button type="button" class="btn btn-primary" id="btn-save">저장</button>
                </form>
            </div>
            <div class="col-md-10">
                <p><strong>결과 이미지입니다.</strong></p>
                <img src="" id="result-image">
            </div>
            <div class="col-md-7">
                <h2>이미지 불러오기</h2>
                <img src="https://s3-ap-northeast-1.amazonaws.com/sunho-test-bucket/static/KakaoTalk_20180917_231706322.jpg">
            </div>
        </div>
    
        <script src="/js/lib/jquery.min.js"></script>
        <script src="/js/lib/bootstrap.min.js"></script>
        <script>
            $('#btn-save').on('click',

            function () {
                var file = $('#img')[0].files[0];
                var formData = new FormData();
                formData.append('data', file);

                $.ajax({
                    type: 'POST',
                    url: '/upload',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        alert('이미지 등록 성공');
                        /*속성부여하는 메서드,,   attr("속성","값") 또는 attr({"속성1": "새값1", "속성2":"새값2"}) 
                        이런식으로 사용
                        */
                        alert(data);
                        $('#result-image').attr("src", data);
                    },
                    error: function (request, status, error) {
                        alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    }
                });
            });
        
        </script>
    </body>

</html>